/* alinhar textos centro */
div.css-1nt4hzx{
    text-align: center;
}

/* ajustar o tab */
div.css-q8sbsg p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 1000;
}

div.css-1p1nwyz:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) > span:nth-child(1){
    color: orange
}

/* alterando a cor do tab */
.st-dg {
    white-space: nowrap;
    color: white
}

/* mudando cor do 'inválido' */
.red-color {
    font-weight: 1000 !important;
    color: red;
}

/* alinhando o st,write do multiselect na esquerda */
.object-key-val{
    text-align: left;
}
#tabs-bui7-tabpanel-2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(5) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    text-align: left;
}

/* alinhando e corrigindo tamanho do logo da cefet */
.css-1v0mbdj > img:nth-child(1){
    width: 370px;
    
}
/* colocando todos os radio no modo horizontal */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-ilhyjd.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1544g2n.e1fqkh3o4 > div > div:nth-child(1) > div > div:nth-child(8) > div > div{
   flex-direction: row; 
}

div.st-b3.st-eu{
    flex-direction: row;
}

div.st-er{
    flex-direction: row;
}

div.st-es{
    flex-direction: row;
}

div.st-et{
    flex-direction: row;
}

div.st-bz{
    flex-direction: row;
}

/* centralizando logo no sidebar */
div.css-1p1nwyz:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > img:nth-child(1){
    padding-right: 10px;
}

/* centralizando hyperlink da fonte */
div.element-container:nth-child(16) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > a:nth-child(1) > img:nth-child(1){
    width: 200px;
    padding-left: 84px; 
}

/* centralizando botao do cache */
div.css-1p1nwyz:nth-child(6) > div:nth-child(1){
    text-align: center;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.egzxvld5 > div.block-container.css-z5fcl4.egzxvld4{
    text-align: center;
}